DRIVER=~fastapi
HOST=0.0.0.0
PORT=8080
LOG_LEVEL=INFO

# OneBot 连接鉴权
ONEBOT_ACCESS_TOKEN=your_onebot_access_token

# 指令前缀（空字符串表示无前缀）
COMMAND_START=[""]

# 交互相关
user_split="|"
message_split=" "
SUPERUSERS=["123456789"]

# nonebot-plugin-fakemsg
FAKEMSG_GET_STRANGER_INFO=true

# 网易云插件（按需）
NCM_COOKIE_MUSIC_U=your_music_u_cookie
NCM_AUTO_RESOLVE=True
NCM_DELETE_MSG=True
NCM_OB_V11_LOCAL_MODE=False
NCM_SEND_AS_CARD=False
NCM_SEND_MEDIA=True
NCM_SEND_AS_FILE=True

# 其他
HTMLRENDER_DOWNLOAD_BROWSER=False
LOCALSTORE_USE_CWD=True